# Dependencias
node_modules
.pnpm-store

# Build
dist
build
.vite

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Firebase
.firebase
firebase-debug.log